main > .blocks,
body.full-width
    .events--large
        .event,
        .exhibition
            @include media-breakpoint-up(desktop)
                align-items: end !important
            .event-content
                @include media-breakpoint-up(desktop)
                    margin-bottom: -5px
                hgroup
                    h3,
                    p
                        font-family: $heading-font-family !important
                        @include media-breakpoint-up(desktop)
                            font-size: pxToRem(50) !important
            .event-schedule
                margin-bottom: 0
                .event-dates,
                .event-time
                    display: inline-block
                .event-dates
                    @include body-text
                    margin-right: $spacing-1
                .event-time
                    span
                        @include body-text
                        &::before
                            content: "— "
            .event-description
                p
                    margin-top: 0
                    @include body-text
                    &.more
                        @include body-text
                        @include icon(arrow-right-line, after, true)
.events__page
    @include media-breakpoint-up(desktop)
        .hero--image-square,
        .hero--image-portrait,
            .container
                .content
                    .hero-text
                        margin-top: -18px
        .hero--image-landscape
            .container
                .content
                    position: relative
                    .hero-actions
                        position: absolute
                        right: 0
                        bottom: 16px
        .hero
            padding-bottom: 0